//=====Colors=====
//=====Primary=====
$Pale-blue: hsl(225, 100%, 94%);
$Bright-blue: hsl(245, 75%, 52%);

//=====Neutral=====
$Very-pale-blue: hsl(225, 100%, 98%);
$Light-pale-blue: hsl(225, 100%, 96%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);
$Hover-button: hsl(245, 83%, 68%);

//=====Fonts=====
$size: 16px;
$Red-Hat-Display: 'Red Hat Display', sans-serif;//Weights: 500, 700, 900