:root {
    // Colors
    // Primary
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    // Neutrals
    --Main-dark-blue: hsl(217, 54%, 11%); //(main BG)
    --Card-dark-blue: hsl(216, 50%, 16%); // (card BG)
    --Line-dark-blue: hsl(215, 32%, 27%); // (line)
    --White: hsl(0, 0%, 100%);
    // Fonts
    --Outfit: 'Outfit', sans-serif;  
}