@import 'root';
@import 'mixins/reset';

* {
    @include reset-style;
}

body {
    background-color: $Dark-cyan;
    background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 20vh,
    left 45vw top 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: $size;
    font-family: $Kumbh-Sans;
}

//=====Container=====
.card {
    background-color: $White;
    border-radius: 12px;
    height: 374px;
    width: 324px;
    overflow: hidden;
}

//=====Image=====
.container-image {
    height: 139px;

    &__img-top {
        width: 100%;
    }
}

//=====Perfil=====
.perfil {
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: -18%;

    &__img {
        border: 3px solid $White;
        border-radius: 50%;
        height: 104px;
        width: 104px;
    }

    &__paragraph--name {
        font-weight: 700;
        word-spacing: 0.5rem;
    }

    &__paragraph--number {
        font-weight: 400;
        color: $Dark-grayish-blue;
    }

    &__paragraph--city {
        font-weight: 400;
        color: $Dark-grayish-blue;
    }
}

.card__line {
    border-style: ridge;
    margin-top: 20px;
}

//=====Stadistics=====
.stadistics {
    height: 87px;
    width: 260px;
    margin: 7px auto;
    display: flex;
    align-items: center;
    gap: 45px;

    &__value {
        font-weight: 700;
        text-align: center;
    }

    &__value--follow {
        font-weight: 400;
        font-size: 0.88888rem;
        color: $Dark-grayish-blue;
    }

    &__value--like {
        font-weight: 400;
        font-size: 0.88888rem;
        color: $Dark-grayish-blue;
    }

    &__value--picture {
        font-weight: 400;
        font-size: 0.88888rem;
        color: $Dark-grayish-blue;
    }
}

//=====Footer=====
.attribution {
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

//=====Desktop=====
@media screen and (min-width:1440px){
    .card {
        width: 350px;
    }
}