<article class="cards__article cards__article--start">
    <img src="/public/image-colton.jpg" class="icon" alt="colton" />
    <span class="name">Colton Smith</span><span class="status">Verified Buyer</span>
    <p class="info">
        "We needed the same printed design as the one we had ordered a week
        prior. Not only did they find the original order, but we also received
        it in time. Excellent!"
    </p>
</article>

<article class="cards__article cards__article--center">
    <img src="/public/image-irene.jpg" class="icon" alt="irene" />
    <span class="name">Irene Roberts</span><span class="status">Verified Buyer</span>
    <p class="info">
        "Customer service is always excellent and very quick turn around.
        Completely delighted with the simplicity of the purchase and the speed
        of delivery."
    </p>
</article>

<article class="cards__article cards__article--end">
    <img src="/public/image-anne.jpg" class="icon" alt="anne" />
    <span class="name">Anne Wallace</span><span class="status">Verified Buyer</span>
    <p class="info">
        "Put an order with this company and can only praise them for the very
        high standard. Will definitely use them again and recommend them to
        everyone!"
    </p>
</article>
