//+++++Colors+++++

//=====Primary=====
$Cyan: hsl(179, 62%, 43%);
$Bright-Yellow: hsl(71, 73%, 54%);
//=====Neutral=====
$Light-Gray: hsl(204, 43%, 93%);
$Light: hsl(0, 0%, 100%);
$Grayish-Blue: hsl(218, 22%, 67%);
$Cyan-Light: hsl(179, 47%, 52%);
$B-shadow: hsl(136, 39%, 45%);
$hover-btn: hsl(71, 60%, 49%);
//+++++Typography+++++

//=====Body=====
$f-size: 16px;

//=====Fonts=====
$Karla: 'Karla', sans-serif;