body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(233deg, 47%, 7%);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(244deg, 38%, 16%);
  font-weight: 400;
  border-radius: 5px;
  max-height: 775px;
  min-width: 328px;
  overflow: hidden;
}

.hero {
  background-image: url(/images/image-header-mobile.jpg);
  background-size: cover;
  height: 240px;
  max-width: 100%;
  mix-blend-mode: luminosity;
  opacity: 0.4;
}

.info {
  text-align: center;
  font-weight: 700;
}
.info__title {
  color: hsl(0deg, 0%, 100%);
  height: 96px;
  width: 264px;
  font-size: 1.75em;
  margin: 25px auto 25px auto;
}
.info__title--span {
  color: hsl(277deg, 64%, 61%);
}
.info__description {
  width: 275px;
  margin: 0 auto 0 auto;
  color: hsla(0deg, 0%, 100%, 0.75);
}

.stats {
  width: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0 auto 0 auto;
}
.stats__values {
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
}
.stats__values--companie {
  color: hsla(0deg, 0%, 100%, 0.6);
  font-weight: 400;
  font-size: 0.66rem;
}
.stats__values--template {
  color: hsla(0deg, 0%, 100%, 0.6);
  font-weight: 400;
  font-size: 0.66rem;
}
.stats__values--querie {
  color: hsla(0deg, 0%, 100%, 0.6);
  font-weight: 400;
  font-size: 0.66rem;
}

.attribution {
  color: hsl(0deg, 0%, 100%);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media screen and (min-width: 760px) {
  .card {
    min-width: 730px;
    max-height: 328px;
    display: flex;
    flex-direction: row-reverse;
  }
  .hero {
    background-image: url(/images/image-header-desktop.jpg);
    width: 50%;
    height: 100%;
  }
  .section-info {
    width: 50%;
    height: 50%;
  }
  .info {
    height: 50%;
    width: 342px;
    text-align: start;
    margin: 0 auto;
  }
  .info__title {
    font-size: 1.5rem;
  }
  .info__description {
    margin-top: -30px;
    margin-left: 37px;
    font-size: 0.75em;
    height: 67px;
    width: 280px;
    line-height: 20px;
  }
  .stats {
    text-align: start;
    display: flex;
    width: 280px;
    margin: 100px auto 0 47px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    min-height: 400px;
    width: 1002px;
  }
  .hero {
    width: 49%;
    max-height: 100%;
  }
  .section-info {
    margin: 0 auto 0 67px;
    width: 339px;
    height: 398px;
  }
  .info {
    width: 339px;
    height: 160px;
    margin-top: 69px;
  }
  .info__title {
    font-size: 2em;
    width: 339px;
    height: 73px;
    margin-top: 0;
  }
  .info__description {
    font-size: 0.85em;
    width: 339px;
    height: 57px;
    margin: 27px 0 0 0;
  }
  .stats {
    font-size: 1.3em;
    width: 339px;
    height: 45px;
    margin: 73px 0 59px 0;
    align-items: center;
    text-align: start;
    justify-items: stretch;
    gap: 30px;
    line-height: 20px;
  }
  .stats__values--companie {
    font-size: 0.6rem;
    justify-self: flex-start;
  }
  .stats__values--template {
    font-size: 0.6rem;
    justify-self: center;
  }
  .stats__values--querie {
    font-size: 0.6rem;
    justify-self: flex-end;
  }
}

/*# sourceMappingURL=main.css.map */
