//=====Tablets=====
@media screen and (min-width:760px) {
    .card {
        min-width: 730px;
        max-height: 328px;
        display: flex;
        flex-direction: row-reverse;
    }

    //=====Hero=====
    .hero {
        background-image: url(/images/image-header-desktop.jpg);
        width: 50%;
        height: 100%;
    }
}