<section class="rated">
  <span class="start_one"></span>
  <span class="start_two"></span>
  <span class="start_three"></span>
</section>

<style>
  .rated {
    border: 1px solid red;
    max-width: 328px;
    max-height: 267px;
  }
</style>