<section class="title">
  <h1>10,000+ of our users love our products.</h1>
  <p>We only provide great products combined with excellent customer service.
    See what our satisfied customers are saying about our services.</p>
</section>

<style>
  .title {
    border: 1px solid red;
    max-width: 328px;
    max-height: 215px;

    & h1 {
      border: 1px solid blueviolet;
      max-width: 325px;
      max-height: 103px;
    }

    & p {
      border: 1px solid green;
      max-width: 328px;
      max-height: 88px;
    }
  }
</style>