@import 'reset';
@import 'variables';

* {
    @include reset;
}

body {
    font-size: $Body-Size;
    display: grid;
    grid-template-row:
        1fr 1fr 1fr;
    justify-items: center;
    gap: 48px;
}

//+++++header+++++
.header {
    width: $W;
    height: 214px;
    margin-top: 80px;

    &__title {
        width: 238px;
        font-size: 2rem;
        font-weight: 700;
        color: $Very-Dark-Magenta;
        text-align: center;
        margin: 0 48px;
    }

    &__info {
        margin-top: 17px;
        font-size: 1.15rem;
        text-align: center;
        color: $Dark-Grayish-Magenta;
    }
}

//+++++stars+++++
.container {
    display: flex;
    flex-direction: column;
    width: $W;
    height: 266px;
    gap: 16px;

    &__stars {
        background-color: $Light-Grayish-Magenta;
        border-radius: 12px;
        height: 78px;
        font-size: 1.1rem;
        text-align: center;
        padding-top: 15px;
        line-height: 25px;

    }
}

//+++++cards+++++
.cards {
    background:  green;
    width: $W;
    margin-bottom: 80px;
}