@import 'reset';
@import 'variables';

* {
    @include reset;
}

body {
    font-size: $Body-Size;
    display: grid;
    grid-template-row:
        1fr 1fr 1fr;
    justify-items: center;
    gap: 48px;
}

//+++++header+++++
.header {
    width: $W;
    height: 214px;
    margin-top: 80px;

    &__title {
        width: 238px;
        font-size: 2rem;
        font-weight: 700;
        color: $Very-Dark-Magenta;
        text-align: center;
        margin: 0 48px;
    }

    &__info {
        margin-top: 17px;
        font-size: 1.15rem;
        text-align: center;
        color: $Dark-Grayish-Magenta;
    }
}

//+++++stars+++++
.container {
    display: flex;
    flex-direction: column;
    color: $Dark-Grayish-Magenta;
    width: $W;
    height: 266px;
    gap: 16px;

    &__stars {
        background-color: $Light-Grayish-Magenta;
        border-radius: 12px;
        height: 78px;
        font-size: 1.1rem;
        text-align: center;
        padding-top: 15px;
        line-height: 25px;

    }
}

//+++++cards+++++
.cards {
    display: flex;
    flex-direction: column;

    width: $W;
    color: $White;
    font-size: 1rem;
    font-weight: 700;

    &__article {
        display: grid;
        grid-template-columns: 1fr 10fr;

        background-color: $Very-Dark-Magenta;
        border-radius: 12px;
        height: 247px;

        padding: 40px 31px;
        margin-bottom: 18px;

        .icon {
            border-radius: 50%;
            width: 50px;
            margin-right: 20px;
            grid-column: 1 / 2;
            grid-row: 1 / 3;
        }

        .name {
            grid-column: 2 / 3;
        }

        .status {
            color: $Soft-Pink;
            grid-row: 2 / 3;
        }

        .info {
            line-height: 20px;
            grid-column: 1 / 3;

            margin-top: 20px;
        }
    }
}