@import 'mixins/reset.scss';
@import 'root';

* {
    @include reset;
}

body {
    font-size: $f-size;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    border-radius: 12px 12px 0 0;
    width: 327px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    margin: 88px auto;
}

//+++++Cards+++++

.sedan {
    background-color: $Bright-orange;
    border-radius: 12px 12px 0 0;
    height: 440px;
    width: 325px;
    padding: 48px;

    &__title {
        font-family: $Big-Shoulders-Display;
        color: $Very-light-gray;
        font-weight: 700;
        font-size: 2.13em;
        text-transform: uppercase;
        margin: 25px 0;
    }

    &__description {
        font-family: $Lexend-deca;
        color: $Transparent-white;
        height: 117px;
        font-weight: 400;
        line-height: 23px;
        margin-bottom: 20px;
    }

    &__button {
        border-radius: 25px;
        background-color: $Very-light-gray;
        border-style: none;
        color: $Bright-orange;
        font-family: $Lexend-deca;
        font-weight: 400;
        height: 47px;
        width: 144px;
        margin-top: 30px;

        &:hover {
            border: 2px solid $Very-light-gray;
            background-color: $Bright-orange;
            color: $Very-light-gray;
            cursor: pointer;
        }
    }
}

.suv {
    background-color: $Dark-cyan;
    height: 440px;
    width: 325px;
    padding: 48px;

    &__title {
        font-family: $Big-Shoulders-Display;
        color: $Very-light-gray;
        font-weight: 700;
        font-size: 2.13em;
        text-transform: uppercase;
        margin: 25px 0;
    }

    &__description {
        font-family: $Lexend-deca;
        color: $Transparent-white;
        height: 117px;
        font-weight: 400;
        line-height: 23px;
        margin-bottom: 20px;
    }

    &__button {
        border-radius: 25px;
        background-color: $Very-light-gray;
        border-style: none;
        color: $Dark-cyan;
        font-family: $Lexend-deca;
        font-weight: 400;
        height: 47px;
        width: 144px;
        margin-top: 30px;

        &:hover {
            border: 2px solid $Very-light-gray;
            background-color: $Dark-cyan;
            color: $Very-light-gray;
            cursor: pointer;
        }
    }
}

.luxury {
    background-color: $Very-dark-cyan;
    border-radius: 0 0 12px 12px;
    height: 440px;
    width: 325px;
    padding: 48px;

    &__title {
        font-family: $Big-Shoulders-Display;
        color: $Very-light-gray;
        font-weight: 700;
        font-size: 2.13em;
        text-transform: uppercase;
        margin: 25px 0;
    }

    &__description {
        font-family: $Lexend-deca;
        color: $Transparent-white;
        height: 117px;
        font-weight: 400;
        line-height: 23px;
        margin-bottom: 20px;
    }

    &__button {
        border-radius: 25px;
        background-color: $Very-light-gray;
        border-style: none;
        color: $Very-dark-cyan;
        font-family: $Lexend-deca;
        font-weight: 400;
        height: 47px;
        width: 144px;
        margin-top: 30px;

        &:hover {
            border: 2px solid $Very-light-gray;
            background-color: $Very-dark-cyan;
            color: $Very-light-gray;
            cursor: pointer;
        }
    }
}

//=====footer=====
.attribution {
    font-size: 1rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

//=====MediaQuery=====

@media screen and (min-width: 760px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .container {
        border-radius: 12px;
        width: 700px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;
    }

    .sedan {
        border-radius: 0;
        width: fit-content;

        &__button {
            margin-top: 45px;
        }
    }

    .suv {
        width: fit-content;

        &__button {
            margin-top: 45px;
        }
    }

    .luxury {
        border-radius: 0;
        width: fit-content;

        &__button {
            margin-top: 45px;
        }
    }

    .attribution {
        font-size: 1em;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        height: 500px;
        width: 920px;
    }

    .sedan {
        height: 100%;

        &__button {
            margin-top: 85px;
        }
    }

    .suv {
        height: 100%;

        &__button {
            margin-top: 85px;
        }
    }

    .luxury {
        height: 100%;

        &__button {
            margin-top: 85px;
        }
    }

    .attribution {
        font-size: 1em;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
    }
}